<a href="https://colab.research.google.com/github/feracor/pandas_numpy/blob/main/Array.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

In [4]:
lista = [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lista

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
arr = np.array(lista)
print(type(arr))
arr

<class 'numpy.ndarray'>

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])